/* Header Section */
.head {
    margin-left: 70px;
    margin-right: 70px;
    display:flex;
    justify-content: space-between;
}

/* First Ul */
.first_ul {
    display: inline-flex;
    gap:60px;
}

.first_ul li  {
    list-style-type: none;

}

.first_ul li a {
    text-decoration: none;
    font-size:18px;
    

    
}

.lia_home {
    color:#06C167;
}

 .lia_ab, .lia_com, .lia_pag, .lia_us {
    color:#1D1D1F;

}

/* H2 */
.h2_1 {
    color:#06C167;
    font-weight: 500;
    font-size: 28px;
    margin:0;
    margin-top:15px;
    cursor: pointer;
}

/* First Section */ 
.first_section {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 70px;
    position: relative;
}

.first {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:5px;
    width:50%;
}

.first h1 {
    font-size: 48px;
    margin: 0;
}

.first p {
    font-size: 17px;
    line-height: 1.5;
}

.first img {
    width: 150px;
}

/* Button Design */ 
.btn {
  display: inline-flex;
  padding: 16px 30px;
  background-color:#06C167;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition:all 0.3s ease;
  gap:20px; 
}

/* Logo Bar */

.logo {
    display: flex;
    gap: 40px;
    margin-top: 200px;
}
.logo img {
    width:120px;
    height:auto;
    cursor: pointer;
}

/* Right Side Img */
.img_container {
    position:relative;
    width:45%;
    margin-left: 280px;
}

.main_img {
    margin-top: 70px;
    width:70%;
    border-radius: 10px;
}
.overlay_good {
    position: absolute;
    top: 225px;
    right: 140px;
    width: 160px;
    height: auto;
}

.overlay_rating {
    position: absolute;
    top: 325px;
    left: -66px;
    width: 160px;
    height: auto;
}

.dot {
    position: absolute;
    bottom: 22px;
    right: 140px;
    width: 160px;
    height: auto;
}

/* Design hr */
hr {
    background-color: #707070;
    margin:80px 70px 30px 70px;
}

/* Second Section */
.second_sec {
    display: flex;
    align-items: center;
    justify-content:space-around;
    cursor: pointer;   
}
.hr2 {
    background-color: #707070;
    margin:50px 70px 30px 70px;
}   


/* Third Section */
.third_sec {
    margin:80px 70px 30px 70px;
    display: flex;
    justify-content: space-between;
}

.food_img {
    width:85%;
}

.food_right {
    position:absolute;
    right:50px;
    bottom:-690px;
    gap:0px;
}

.bold_para {
    font-size:50px;
    width:60%;
}

.second_ul li {
    list-style-type: none;
    position: relative;
    margin-left: 25px;
     line-height: 1.8;
}

.second_ul li:before {
    content:'\2713';
    color:#06C167;
    font-size:20px;
    font-weight: 900;
    position: absolute;
    left:-65px;
    top:2px;
}

.fourth_sec {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin:80px 70px 30px 70px;
    position: absolute;
    flex-direction: column;
}

.para_5th {
    position: absolute;
    top: -40px;
    left: 0px;
}
.para5th_bold {
    font-size: 48px;
    width: 180%;
    position: absolute;
    left:0px;
    font-weight: 600;
}
.number {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:150px;
    left:0px;
    width:170%;
}

.button_2 {
    display: flex;
    /* position: absolute; */
    margin-top:300px;
}

.numeric {
    font-size:30px;
    font-weight: 600;
    color:#06C167;
}
.img_glass {
    width:520px;
    position: absolute;
    left:360px;
}

/* Fifth Section */
.fifth_sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 850px;
    margin-bottom: 80px;
}

.fifth_p2 {
    font-size: 50px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 35px;
}

.first_fifth_img {
    display: flex;
    flex-direction: row;
    margin:0 auto;
}
.second_fifth_img {
    display: flex;
    flex-direction: row;
    margin-top:-5px;

}

/* Sixth Section */

.sixth_sec {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-left: 205px;
    margin-bottom: 80px;
}
.sixth_p2{
    margin-top: 30px;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 40px;
}

/* Seventh Section */

.seven_sec {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 600px;

}

.village_seven {
    width:92%;
    display: flex;
    position: absolute;
    left: 70px;

}


.sevenp {
    position: absolute;
    font-size: 50px;
    top:3900px;
    color:#FFFFFF;
    justify-content: center;
    width:40%;
    right:400px;
}

.sevenp2 {
    position: absolute;
    font-size: 50px;
    top:3960px;
    color:#FFFFFF;
    width:40%;
    right:300px;
    
}

.seventh_btn {
    position: absolute;
    font-size: 50px;
    top:4080px;
    color:#FFFFFF;
    width:40%;
    right:220px;

}

/* Bottom Section */

.bottom {
    margin-left:70px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
}
.first_b {
    display: flex;
    flex-direction: column;
    width:45%;
    
}

.bottom_p1 {
    font-size: 28px;
    margin-bottom: 0 auto;
    color:#06C167;
}
.bottom_p2 {
    margin-bottom:50px;
}

.s_2 {
    position: absolute;
    margin-left: 420px;
    margin-top: 30px;
    width:10%;
}

.s_3 {
    position:absolute;
    margin-left: 760px;
    margin-top: 30px;
    width:10%;
}

.s_4 {
    position: absolute;
    margin-left: 1070px;
    margin-top: 30px;
    width:20%;
}

.bottom_p3 {
    width:200%;
}

.bottom_p3, .bottom_p8, .bottom_p13 {
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 35px;
}

.form {
    display: flex;
    flex-direction: row;
    width:100%;
}

#email {
    width:200px;
    height: 37px;
}

.btn_bottom {
    padding: 20px 40px;
    background-color:#06C167;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition:all 0.3s ease; 
    margin-left: 20px;
    height: 30px;
    display: flex;
    align-items: center;

}

input::placeholder {
    text-align: center;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #06C167;
}


/* For tablets and smaller screens */

@media (max-width:992px) {
     .head {
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-bottom:50px;
  }

    .menu-toggle {
        display:block;
        cursor: pointer;

    }

    .first_ul {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:60px;
    right:20px;
    width: 200px;
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    z-index: 1000;
  }

  .first_ul.active {
    display: flex;
  }


   .first_ul li {
    text-align: center;
    width:100%;
    margin: 10px 0;
  }

  .first_ul li {
    width: 100%;
    text-align: center;
    margin: 8px 0;
  }

  .first_ul li a {
    display: block;
    width: 100%;
    padding: 8px 0;
    color: #06C167;
    font-size: 18px;
  }

  .first_section {
    flex-direction: column;
    margin: 0 20px;
    text-align: center;
  }

  .first {
    width: 100%;
    align-items: center;
  }

  .first h1 {
    font-size: 36px;
  }

  .first p {
    font-size: 16px;
  }

  .logo {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }

  .img_container {
    margin-left: 0;
    width: 90%;
  }

  .main_img {
    width: 100%;
  }

  .overlay_good,
  .overlay_rating,
  .dot {
    display: none;
  }

  .second_sec {
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 10px;
  }

  .third_sec {
    flex-direction: column;
    align-items: center;
    margin: 40px 20px;
  }

  .food_img {
    position: static;
    justify-content: center;
    margin-left:25px;
  }

  .food_right {
    position: static;
    text-align: center;
    margin-top: 30px;
  }

  .bold_para {
    font-size: 28px;
    width: 100%;
  }

  .second_ul {
    text-align: left;
  }

  .fourth_sec {
    position: static;
    margin: 40px 20px;
    align-items: center;
  }

  .para_5th, .para5th_bold {
    position: static;
    width: 80%;
    text-align: center;
    font-size: 30px;
  }

  .first_num, .second_num, .third_num {
    position: static;
    text-align: center;

  }

  .para_5th {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .number {
    position: static;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .button_2 {
    margin-top: 30px;
  }

  .img_glass {
    display: none;
  }

  .fifth_sec {
    margin-top: 100px;
  }

  .first_fifth_img,
  .second_fifth_img {
    flex-direction: column;
    align-items: center;
  }

  .fifth_p2 {
    font-size: 30px;
  }

  .sixth_sec {
    margin: 40px 20px;
    align-items: center;
  }

  .sixth_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .sixth_img img {
    width: 45%;
  }

  .sixth_p2 {
    font-size:30px;
  }

.seven_p {
    position: static;
    text-align: center;
    margin-top: 20px;
  }

  .seven_sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    position: relative;
  }

  .village_seven {
    position: static;
    width: 100%;
    height: auto;
  }

  .sevenp,
  .sevenp2 {
    position: static;
    color: #000;
    font-size: 28px;
    margin: 5px 0;
    width: 100%;
  }

   .seventh_btn {
    position: static;
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
  }


  /* Bottom */

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px 20px;
    gap: 40px;
  }

  .s_1,
  .s_3,
  .s_4 {
    position: static;
    margin: 0;
    width: 100%;
  }

  .s_2 {
    position: static;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:4px;
  }

  .s_2 p {
    margin:4px 0;
  }

  .bottom_p3 {
    position: static;
    margin: 0 auto 10px auto;
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 4px;
  }

   .first_b {
    position: static;
    align-items: center;
    display: block;
    margin: 0 auto 10px auto;
    width:70%;
  }

  .bottom_img1 img {
    width: 100px;
    height: auto;
  }

  .form {
    flex-direction: column;
    align-items: center;
    gap:10px;
  }

  #email {
    width: 80%;
    height: 35px;
  }



  .btn_bottom {
    margin-left: 0;
    padding: 12px 30px;
    height: auto;
  }
}

